body{
    margin: 0px;
    
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 8px;
}
 body h1{
    text-transform: uppercase;
    color: azure;
    text-shadow: #4d4d4d 1px 2px 1px;
}
.body{
    background-color: azure;
    box-shadow: #4d4d4d 1px 2px 3px;
    padding: 30px;
    border-radius: 5px;
}
.body p{
    text-align: center;
    text-transform: capitalize;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;

}
form label{
    background-color: burlywood;
    padding: 1px;
    margin-right:4px ;
    padding: 10px;
}
form input{
    width: 20%;
}